# Simula demora nas consultas de BD
SIMULATE_WAIT_IN_MS=0

# Tamanho máximo para upload de imagens em bytes
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_SIZE=921600
# Nome da pasta onde as imagens são salvas após upload
IMAGE_UPLOAD_DIRECTORY=uploads
# URL completa do servidor de imagens sem barra final
IMAGE_SERVER_URL='http://localhost:3000/uploads'

JWT_SECRET_KEY='JDJiJDEwJFpIY1lLWUtuWjlmdHQuc2dhcHM3VGVzNzV2VmRDZEZGWkVFMkwweTZPT2VqRndUcGdKM3Iy'

LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING = '1d'

LOGIN_COOKIE_NAME='loginSession'

LOGIN_USER='ellen'
LOGIN_PASS="JDJiJDEwJGpLdmZnTXIwakc0ZUouLzl0UTZWUHVvazlzaC9UNDNjeHFtei5mdnZad1EvM2E3dS45VHlX"

ALLOW_LOGIN=0